{% extends 'base_app.html.twig' %}
{% block body %} 

    <div class="main">
        <div class="main-inner">
            <div class="container">          
                {% for message in app.session.flashBag.get('danger') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {%endfor %}               
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget widget-nopad">
                            <div class="widget-header"> <i class="fa fa-list-alt"></i>
                                <h3> Unidades Curriculares Inscritas</h3>
                            </div>
                            <!-- /widget-header -->
                            {% if  not estado_academico.hasInscripcion | length > 0 %}
                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div class="widget-content">                    
                                        <h6 class="bigstats">                        
                                            No ha formalizado su inscripcion para este periodo
                                            academico.                        
                                        </h6>                    
                                        <div class="col-md-2">
                                            <a class="btn btn-primary" href="{{ path('ceapp_estudiante_inscripcion_new') }}">Inscribirme</a>
                                        </div>
                                    </div>
                                    <!-- /widget-content --> 
                                </div>
                            </div>
<!--Si Tiene inscripcion-->{% else %}
                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div class="widget-content">                    
                                        <div class="container">                                                                                          
                                            {% for inscrita in estado_academico.hasInscripcion %}
                                                <p>
                                                    {{ inscrita.idOfertaAcademica.idMallaCurricularUc.idUnidadCurricularVolumen.idUnidadCurricular.nombre }}                                                    
                                                    <a class="btn btn-warning btn-xs" href="{{ path('ceapp_estudiante_inscripcion_edit', { 'id': inscrita.id }) }}"><i class="fa fa-edit"></i></a>
                                                </p>
                                            {% endfor %}                        
                                        </div>                    
                                        <div class="col-md-2">
                                            
                                        </div>
                                    </div>
                                    <!-- /widget-content --> 
                                </div>
                            </div>                                         
                            {% endif %}
                
                            </div>
                          </div>
          
                    <div class="col-md-6">
                   <div class="widget widget-nopad">
                     <div class="widget-header"> <i class="fa fa-list-alt"></i>
                       <h3> Cumplimiento de la programacion</h3>
                     </div>
                     <!-- /widget-header -->
                     <div class="widget-content">
                       <div class="widget big-stats-container">
                           {% if not estado_academico.hasInscripcion %}
                                 <div class="widget-content">

                                     <h6 class="bigstats alert alert-warning">                        
                                         Debe Formalizar primero una inscripcion para
                                         poder revisar la planificacion de la/s UC

                                     </h6>                                                
                                 </div>
                           {% else %}
                                 <div class="widget-content">
                                 <h6 class="bigstats">                        
                                      No ha formalizado su inscripcion para este periodo
                                     academico.                        
                                 </h6>                                                                                                      
                            </div>


                           {% endif %}
                         <!-- /widget-content --> 

                       </div>
                     </div>
                   </div>
                   <!-- /widget -->
                 </div>
         
      </div>
    </div>
  </div>
    
    </div>

{% endblock %}
